<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin')"></head>
<body class="d-flex flex-column h-100">
        <!-- navigation -->

        <div th:replace="navigation :: menu"></div>

        <div class="container-fluid">
            <h2>Manage Users</h2>
            <a class="fas fa-folder-plus btn btn-primary p-2 my-2" th:href="@{/users/new}"></a>

            <div th:replace="fragments :: search_form_and_message('/users/page/1')"></div>


            <div class="full-details">
                <table class="table table-responsive-xl table-bordered table-striped table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th  th:replace="fragments::column_link('/users','id' , 'User ID')"></th>
                        <th class="text-center">
                            Photos
                        </th>
                        <th th:replace="fragments::column_link('/users','email' , 'Email')"></th>
                        <th th:replace="fragments::column_link('/users','firstName' , 'First Name')"></th>
                        <th th:replace="fragments::column_link('/users','lastName' , 'Last Name')"></th>
                        <th class="text-center">Roles</th>
                        <th th:replace="fragments::column_link('/users','enabled' , 'Enabled')"></th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td>[[${user.id}]]</td>
                        <td>
                            <img th:if = "${user.photos == null}" th:src = "@{/images/default-user.png}" style="width: 100px"/>
                            <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath()}}" style="width: 100px"/>
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td class="text-center">
                            <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
                        </td>
                        <td class="text-center">
                            <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
                            <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="less-details">
                <div th:each="user : ${listUsers}" class="row m-1">
                    <div class="col-4">
                        <img th:if = "${user.photos == null}" th:src = "@{/images/default-user.png}" style="width: 100px"/>
                        <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath()}}" style="width: 100px"/>
                    </div>

                    <div class="col-8">
                        <div>[[${user.fullName}]]</div>
                        <div>[[${user.roles}]]</div>
                        <div class="mt-1">
                            <a th:if="${user.enabled == true }" class="fa-sharp fa-solid fa-circle-check fa-2x icon-green m-1 "
                               th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable this user"></a>
                            <a th:if="${user.enabled == false }" class="fa-sharp fa-solid fa-circle fa-2x icon-gray m-1"
                               th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this user"></a>
                            <a class="fa-solid fa-pen-to-square fa-2x icon-green m-1" th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
                            <a class="fa-sharp fa-solid fa-trash fa-2x icon-gray link-delete my-1"
                               th:userId = "${user.id}"
                               th:href="@{'/users/delete/' + ${user.id}}"
                               title="Delete this user"></a>
                        </div>

                    </div>
                </div>

            </div>

            <!--        pagination-->
            <div th:replace="fragments :: pagination('/users', 'users')"></div>

            <!--        modal confirm delete -->
            <div th:replace="modal_fragments :: confirm_modal" />

        </div>

        <div th:replace="fragments :: footer"></div>
</body>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/users}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
            console.log($(this));
        });
    });

    function clearFilter(){
        window.location = "[[@{/users/}]]";
    }
</script>
</html>

