<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})"></head>
<body class="d-flex flex-column h-100">
        <!-- navigation -->
        <div th:replace="navigation :: menu"></div>
        <div class="container-fluid">

            <h2>Manage Users | [[${pageTitle}]]</h2>

            <!-- Create Form -->
            <form  th:action = "@{/users/save}" method="post" id="formSubmit" class="my-4 mx-auto"
                   style="max-width: 600px" th:object="${user}"
                   enctype="multipart/form-data"
                   onsubmit= "return checkEmailUnique(this)">
                <input type="hidden" name="id" id="userId"  th:field="${user.id}">
                <div class="border border-secondary rounded p-3">
                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label" for="emailInput">Email:</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control"  id="emailInput" th:field="*{email}" required minlength="8" maxlength="128" placeholder="Email must be valid"/>
                        </div>
                    </div>

                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label" for="firstNameInput">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="firstNameInput" th:field="*{firstName}" required minlength="1" maxlength="45" placeholder="First name must between 1 and 45 characters"/>
                        </div>

                    </div>

                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label" for="lastNameInput">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  id="lastNameInput" th:field="*{lastName}" required minlength="1" maxlength="45" placeholder="Last name must between 1 and 45 characters"/>
                        </div>

                    </div>

                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" th:if="${user.id == null}" class="form-control" th:field="*{password}" required minlength="8" maxlength="20" placeholder="Password must between 8 and 20 characters"/>
                            <input type="password" th:if="${user.id != null}" class="form-control" th:field="*{password}" minlength="8" maxlength="20" placeholder="Leave this field blank if no need to change"/>

                        </div>
                    </div>

                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label">Roles:</label>
                        <div class="col-sm-8">
                            <th:block >
                                <div th:each="role: ${listRoles}" class="m-2">
                                    <input type="checkbox" th:field="*{roles}" th:text = "${role.name}" th:value="${role.id}">
                                    - <small>[[${role.description}]]</small>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label" >Enabled:</label>
                        <div class="col-sm-8">
                            <input type="checkbox"   th:field="*{enabled}" />
                        </div>
                    </div>


                    <div class="row input-group p-3">
                        <label class="col-sm-4 form-label" >Photos:</label>
                        <div class="col-sm-8">
                            <input type="hidden" th:field="${user.photos}">
                            <input type="file" id="fileImage" name="image" accept="image/png ,image/jpeg" class="form-control">
                            <img th:src = "@{${user.getPhotosImagePath()}}" alt="Photo preview" id="thumbnail" class="img-fluid">
                        </div>
                    </div>


                    <div class="text-end p-3">
                        <input type="submit" value="Save" class="btn btn-primary m-2" />
                        <input type="button" value="Cancel" class="btn btn-secondary" id="cancelButton" />
                    </div>
                </div>

            </form>
            <!--        modal dialog thong bao loi-->
            <div class="modal fade text-center" id="modalDialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle">Warning</h4>
                            <button type="button" class="btn-close"  data-bs-dismiss="modal" ></button>
                        </div>
                        <div class="modal-body">
                            <p id="modalBody"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    footer-->
        <div th:replace="fragments :: footer"></div>


<script>
    $("#cancelButton").on("click", function (){
        window.location = "[[@{/users}]]"
    })

// validate file size
    $("#fileImage").change(function (){
        const file = this.files[0];
        const fileSize = this.files[0].size;
        if(fileSize > 1048576){
            this.setCustomValidity("You must choose an image less than 1 MB");
            this.reportValidity();
        } else {
            const reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src" , e.target.result);
            }
            reader.readAsDataURL(file);
        }
    })

    function checkEmailUnique(form){
        url = "[[@{/users/check_email}]]";
        userEmail = $("#emailInput").val();
        csrfValue = $("input[name= '_csrf']").val();
        userId = $("#userId").val();
        data = {
            id: userId,
            email: userEmail,
            _csrf : csrfValue
        }
        $.post(url , data, function (response){
            if(response === "OK"){
                form.submit();
            } else if (response === "Duplicated"){
                showModalDialog("Warning" , "There is another user having the email "+ userEmail);
            } else{
                showModalDialog("Error" , "Unknown response from server");
            }
        }).fail(function (){
            showModalDialog("Error" , "Could not connect to server")

        })
        return false;
    }

    function showModalDialog(title , message){
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        // khoi tao 1 modal dialog
        var modal = new bootstrap.Modal($("#modalDialog") , {});
        modal.show();
    }


</script>
</body>
</html>

