<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="header_menu">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{${SITE_LOGO}}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar , #searchNavbar" aria-controls="collapeibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav d-flex w-100">
        <li class="nav-item">
          <a class="nav-link" href="">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Shipping &amp; Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>


<!--        <li class="nav-item ms-xl-auto">-->
<!--          <a class="nav-link" th:href="@{/login}">Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item me-3">-->
<!--          <a class="nav-link" th:href="@{/register}">Register</a>-->
<!--        </li>-->
        <th:block sec:authorize="!isAuthenticated()">
        <li class="nav-item ms-xl-auto">
          <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" th:href="@{/register}">Register</a>
        </li>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
          <li class="nav-item ms-xl-auto ">
            <a  th:href="@{/cart}" class="nav-link">
              <i class="fa-solid fa-cart-shopping"></i>
              Cart
            </a>
          </li>
        <li class="nav-item dropdown me-3">
          <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
              <input type="submit" value="Logout" />
            </form>
          </th:block>
          <a class="nav-link dropdown-toggle " style="cursor: pointer" data-bs-toggle="dropdown" data-bs-auto-close="true"
             id="dropdownMenuButton1" aria-expanded="false" sec:authentication="principal.fullName"  ></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">

            <li>
              <a class="dropdown-item" th:href="@{/account_details}">Account details</a>
            </li>

            <li>
              <a class="dropdown-item" th:href="@{/address_book}">Addresses</a>
            </li>

            <li>
              <a class="dropdown-item" href="">Questions</a>
            </li>

            <li>
              <a class="dropdown-item" href="">Reviews</a>
            </li>

            <li>
              <a class="dropdown-item" href="">Orders</a>
            </li>


            <li>
              <a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a>
            </li>

          </ul>
        </li>
        </th:block>
      </ul>
<!--      <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">-->
<!--        <input type="submit">-->
<!--      </form>-->
    </div>
  </nav>

</div>
<div th:fragment="search_nav" class="row">
  <div class="col-md">
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="collapse navbar-collapse" id="searchNavbar">
        <form class="d-flex flex-row align-items-center ms-1" th:action="@{/search}" method="get">
          <input type="search" name="keyword" class="form-control me-2"
                 th:value="${keyword}"
                 placeholder="keyword" required />
          <input type="submit" value="Search" class="btn btn-outline-success" />
        </form>
      </div>
    </nav>
  </div>
</div>

<footer class="mt-auto py-3" th:fragment="footer_menu">
  <div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar" aria-controls="collapeibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="bottomNavbar">
        <ul class="navbar-nav d-flex w-100">
          <li class="nav-item">
            <a class="nav-link" href="">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Privacy Notice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Returns &amp; Refunds</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div th:fragment="footer" class="text-center m-3">
    <p>[[${COPYRIGHT}]]</p>
  </div>
</footer>
</body>
</html>