<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace = "fragments :: page_head('Home - Shopme Admin')"></head>
<body class="d-flex flex-column h-100">

<!--navigation-->
    <div th:replace="navigation :: menu"></div>

    <div class="container-fluid">
            <div>
                <h1>Shopme Admin control Panel</h1>
                <div>
                    <span>
                        Welcome <a th:href="@{/account}" sec:authentication="principal.fullName"></a>
                        <span  sec:authentication="principal.authorities"></span>
                    </span>
                </div>
            </div>



        </div>
        <!--        footer-->
        <div th:replace = "fragments :: footer"></div>
</body>
</html>

