<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin')"></head>

<body class="d-flex flex-column h-100">
    <!--navigation-->
    <div th:replace="navigation :: menu"></div>
    <div class="container-fluid">
        <div>
            <h2>Manage Categories</h2>
            <a class="fas fa-folder-plus btn btn-primary p-2 my-2" th:href="@{/categories/new}"></a>
        </div>

        <div th:replace="fragments :: search_form_and_message('/categories/page/1')"></div>


        <div class="full-details">
            <table class="table table-responsive-xl table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Category Image</th>
                        <th th:replace="fragments::column_link('/categories','name' , 'Category Name')"></th>
                        <th>Parent Category Name</th>
                        <th>Alias</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cat : ${listCategories}">
                        <td>[[${cat.id}]]</td>
                        <td>
                            <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid">
                        </td>
                        <td>[[${cat.name}]]</td>
                        <td>[[${cat.parentName}]]</td>
                        <td>[[${cat.alias}]]</td>
                        <td>
                            <div th:replace="fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})" />
                        </td>
                        <td>
                            <div th:replace="fragments :: edit('category', '/categories/edit/' + ${cat.id})" />

                            <div th:replace="fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--        pagination-->
        <div th:replace="fragments :: pagination('/categories', 'Top-level categories')"></div>

        <div th:replace="modal_fragments :: confirm_modal"></div>

    </div>

    <!--footer-->
    <div th:replace="fragments :: footer"></div>

</body>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        });
    });

    function clearFilter(){
        window.location = "[[@{/categories/}]]";
    }
</script>
</html>