<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: page_head(${pageTitle})"></head>
<body class="d-flex flex-column h-100">
<div th:replace="navigation :: menu"></div>
<div class="container-fluid">
	<div>
		<h2>Manage Products | [[${pageTitle}]]</h2>	
	</div>
			
	<form th:action="@{/products/save}" method="post"
		th:object="${product}" onsubmit="return checkUnique(this)">
		<input type="hidden" th:field="*{id}" />
	<div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active"  data-bs-toggle="tab" href="#overview" role="tab">Overview</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#description" role="tab">Description</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">Images</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#details" role="tab">Details</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" href="#shipping" role="tab">Shipping</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active p-3" id="overview" role="tabpanel">
				<div th:replace="products/product_overview :: content"></div>
			</div>
			<div class="tab-pane" id="description" role="tabpanel">
				<div th:replace="products/product_description :: content"></div>
			</div>
			<div class="tab-pane" id="images" role="tabpanel">Images</div>
				<div class="tab-pane" id="details" role="tabpanel">Details</div>
			<div class="tab-pane p-3" id="shipping" role="tabpanel">
				<div th:replace="products/product_shipping :: content"></div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<input type="submit" value="Save" class="btn btn-primary m-3" />
		<input type="button" value="Cancel" class="btn btn-secondary" id="cancelButton" />
	</div>
	</form>
	

	
</div>
<div th:replace="modal_fragments :: modal_dialog"></div>

<div th:replace="fragments :: footer"></div>

</body>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";
	brandModuleURL = "[[@{/brands}]]";

	dropdownBrands = $("#brand");
	dropdownCategories = $("#category");

	$(document).ready(function() {
		$("#shortDescription").richText();
		$("#fullDescription").richText();

		dropdownBrands.change(function() {
			dropdownCategories.empty();
			getCategories();
		});

		getCategories();
	});


	function getCategories() {
		const brandId = dropdownBrands.val();
		const url = brandModuleURL + "/" + brandId + "/categories";

		$.get(url, function(responseJson) {
			// console.log(responseJson);
			$.each(responseJson, function(index, category) {
				$("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
			});
		});
	}
	function checkUnique(form) {
		const productId = $("#id").val();
		const productName = $("#name").val();

		const csrfValue = $("input[name='_csrf']").val();

		const url = "[[@{/products/check_unique}]]";

		const params = {id: productId, name: productName, _csrf: csrfValue};

		$.post(url, params, function(response) {
			if (response === "OK") {
				form.submit();
			} else if (response === "Duplicate") {
				showModalDialog( "Warning ","There is another product having the name " + productName);
			} else {
				showModalDialog( "Error","Unknown response from server");
			}

		}).fail(function() {
			showModalDialog("Error","Could not connect to the server");
		});

		return false;
	}
</script>
<script th:src="@{/js/common-form.js}"></script>
</html>